* {
	margin: 0;
}
html, body, #root, .app {
	height: 100%;
}


.page-wrap {
	padding-top: 50px;
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -42px;
}
.page-wrap:after {
	content: "";
	display: block;
}
.site-footer, .page-wrap:after {
	height: 42px;
}

.site-footer {
	background: #222;
	color: #ffffff;
}

.site-footer p {
	margin-top: 10px;
}


/* Deck page */
.deck-wrap {
	padding: 20px;
}

/* Deck list */
.deck-list {
	float: left;
	width: 300px;
	border: 1px solid #ccc;
	margin-right: 30px;
	background: #fff;
}


.deck-list .deck-title {
	padding: 10px;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
}

.deck-list .deck-body {
	max-height: 600px;
	overflow-y: auto;
}


/* tweet item */
.tweet-item {
	padding: 10px;
	border-bottom: 1px solid #ccc;
	margin: 0;
}

.tweet-item img {
	width: 55px;
	height: 55px;
}

.tweet-item .media-content {
	font-size: 12px;
	margin-bottom: 0;
}


/* Navbar */
.btn-add-deck {
	margin-top: 11px
}

.git-hub-link{
	color: #ffffff;
	display: inline-block;
	margin-top: 15px;
}

.git-hub-link:hover{
	color: #ffffff !important;
}